<!-- CREATES THE HOME PAGE -->
<head>
    <!-- Gets Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/home.js') }}"></script>

    <meta charset="utf-8">
	<title>TireHaven</title>
	<a href="home.html">
        <img class="homeIcon" src="{{ asset('assets/img/image.JPG') }}">
    </a>
</head>

<header>
    <ul class="menu">
        <li class="menuItem">
            <a href="tireSearch.html">Tires</a>
        </li>
        <li class="menuItem">
            <a href="tireGuide.html">Tires Guide</a>
        </li>
        <li class="menuItem">
            <a href="rimSearch.html">Rims</a>
        </li>
        <li class="menuItem">
            <a href="install.html">Installation Finder</a>
        </li>
        <li class="cart">
            <a href="/Users/CrimsonDevil/symfony-auth0-api/templates/checkout/checkoutItems.html.twig">
                <img class="cart" src="{{ asset('assets/img/carticon.png') }}">
            </a>
        </li>
    </ul>		
</header>

<body>
    <div class="barOne" id="barOne">
        <h1>TireHaven: The One Stop Tire Shop</h1>

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#v-Modal">Shop by Vehicle</button>

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#t-Modal">Shop by Tire</button>

    </div>

     <!-- Vehicle Search Modal -->
     <div id="v-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">SHOP BY VEHICLE</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" name="brand">
                        <select class="brand" id="selBrand" name="brand" onchange="clearMMYCErrors();deleteAutoYears();deleteAutoModels();populateAutoYears(); disableSavedRecent();">
                            <option value="#">Select Brand</option>
                        </select>
                
                        <script>
                            populateBrands();
                        </script>
                    </form>
            
                    <form method="POST" name="model">
                        <select class="model" id="selModel" name="model" onchange="clearMMYCErrors();deleteAutoYears();deleteAutoModels();populateAutoYears(); disableSavedRecent();">
                            <option value="#">Select Model</option>
                        </select>
                
                        <script>
                            populateModels();
                        </script>
                    </form>
                
                    <form method="POST" name="year">
                        <select class="year" id="selYear" name="year" onchange="clearMMYCErrors();deleteAutoYears();deleteAutoModels();populateAutoYears(); disableSavedRecent();">
                            <option value="#">Select Year</option>
                        </select> 
                
                        <script>
                            populateYears();
                        </script>
                    </form>
                    <input type="submit" value="Submit">
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>

     <!-- Tire Search Modal -->
     <div id="t-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">SHOP BY TIRE SIZE</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form name="sizes" action="/search" method="POST">
                        <select class="width" id="selWidth" name="width" onchange="clearMMYCErrors();disableSavedRecent();">
                            <option value="#">Select Width</option>
                        </select>

                        <script>
                            populateWidth();
                        </script>

                        <br/><br/>

                        <select class="depth" id="selDepth" name="depth" onchange="clearMMYCErrors();disableSavedRecent();">
                            <option value="#">Select Depth</option>
                        </select>

                        <script>
                            populateDepth();
                        </script>

                        <br/><br/>

                        <select class="radius" id="selRadius" name="radius" onchange="clearMMYCErrors(); disableSavedRecent();">
                            <option value="#">Select Radius</option>
                        </select> 
                
                        <script>
                            populateRadius();
                        </script>

                        <br/><br/>

                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <!--Button Basic Layout-->
    <button id="myButton" class="float-left submit-button" >Home</button>

    <!-- CHANGE TO CORRECT LINK -->
    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "https://localhost:8000/lucky/number";
        };
    </script>   
            
    <a href="/lucky/number" target="_self">Profile</a>
</body>